* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.75);
}

.App {
  background-image: url("./assets/cold-desktop.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App.warm {
  background-image: url(./assets/warm-desktop.jpg);
}

main {
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding-left: 25px;
  padding-right: 25px;
}

.search-box {
  text-align: center;
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  padding: 15px;

  appearance: none;
  background-color: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font: 1em;

  transition: 0.4s ease;
}

.search-bar{
  max-width: 600px;
  text-align: center;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #ffffff;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
}

.location-box .date {
  color: #ffffff;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.weather-box {
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.weather-box .temp {
  width: fit-content;
  width: -moz-fit-content;

  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 25px;
  
  color: #ffffff;
  font-size: 3em;
  font-weight: 900;

  text-shadow: 3px 3px rgba(50, 50, 75, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #ffffff;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.header {
  font-size: 2rem;
  text-align: center;
  color:rgb(255, 255, 255, 1);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.75);
  padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .App.warm {
    background-image: url(./assets/warm.png);
  }
  .App {
    background-image: url(./assets/cold.jpg);
  }
  .header {
    font-size: 1.5rem;
  }
}

.recommendation {
  color: #ffffff;
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;

  font-weight: 600;
  color: #ffffff;
}